/********************
GENERAL
********************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.container{
    max-width: 1400px;
    width: 70%;
    margin: auto;
}
main .container{
    margin: 80px auto;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.bg-violet{
    background-color: #9792e4;
}
.white-words{
    color: white;
}
.violet-words{
    color: #9792e4;
}


/* debug */
 section{
    min-height: 600px;
}
footer{
    min-height: 300px;
    background-color: black;
}

/********************
DESKTOP
********************/

/********************
HEADER 
********************/
header{
    background-color: #0084fd;

    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
header .container{
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

header ul{
    display: flex;
    justify-content: space-between;
}

header li{
    padding-left: 30px;
}
header li a{
    color: white;
}
header .btn{
    background-color: white;
    color: black;
    padding: 6px 10px;
    border-radius: 20px;
}
.hambuger-menu{
    display: none;
    color: white;
    font-size: 30px;
}
p{
    line-height: 26px;
}


/********************
MAIN
********************/
main{
    margin-top: 120px;
}


    /* PRESENTATION */
.position-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    background-color: #b5ddff;
    width: calc(100% / 3 - 20px);
    margin-bottom: 20px;
    min-height: 300px;
    border-radius: 20px;
    color: #657b8f;
}
.card h3{
    color: #0084fd;
    padding: 20px 0;
}
.card.big{
    width: calc(100% /3 *2 - 10px);
    position: relative;
}
.card.big::after{
    content:"";
    display: table;
    clear: both;
}

.card.margin-right, .card.big{
    margin-right: 20px;
}

.card.big  img{
    height: 80%;

    position: absolute;
    right: 60px;
    bottom: 0;
}

.card.big .left-content{
    width: 50%;
    padding: 20px;
}

.card.big .left-content div{
    padding-top: 35px;
}
.card.big .left-content a{
    color: white;
    background-color: #0084fd;
    border-radius: 20px;
    padding: 10px 40px;
    letter-spacing: 2px;
}

.card.little{
    text-align: center;
    padding: 40px 20px 20px;
}
.card.little i{
    font-size: 60px;
    color: #0084fd;
}

/* STRATEGIC PLANNING */
.strategic-planning{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    min-height: 600px;
    padding-bottom: 70px;
    width: 60%;
    margin: auto;
}

.strategic-planning .left-content img{
    width: 100%;
    padding: 100px 0; 
}
.strategic-planning .left-content{

    width: 500px;
    padding-right: 60px;
}
.strategic-planning .left-content h2{
    padding-bottom: 50px;
    font-size: 30px;
    font-weight: 500;
}

.strategic-planning .right-content{
    background-color: white;
    border-radius: 40px;
    padding: 20px 40px;
    width: 400px;
    text-align: center;
}
.strategic-planning .right-content img{
    width: 60%;
}
.strategic-planning .right-content h3{
    font-size: 25px;
    padding: 20px 0;
}

.strategic-planning .fa-arrow-down{
    padding: 16px 20px;
    margin: 30px 0;
    font-size: 25px;
    border-radius: 50%;
}


/* TESTIMONIALS */

.testimonials-intro{
    text-align: center;
}
.testimonials-intro .violet-words{
    font-size: 3vw;
    padding: 30px 0;
}
.testimonials-intro>p{
    padding: 0 30px 40px;
    font-size: 17px;
}
.partners-card{
    width: 100%;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 50px;

    display: flex;
    align-items: center;
}
.partners-card img{
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 50%;
}
.partners-card .citation{
    padding-left: 60px;
    padding-right: 30px;
}
.partners-card .citation i{
    font-size: 20px;
}
.partners-card .citation p{
    font-size: 19px;
    padding-bottom: 30PX;
    color: #f3f3fc;
    font-weight: 300;
}
.partners-card .citation h4{
    font-size: 20px;
    font-weight: 400;
}


/* BENEFIT OF WORKING WITH US */

/* ABOUT US */

/* GET STARTED */


/********************
FOOTER
********************/








/********************
    TABLET
********************/
@media all and (max-width:900px) {
    .container{
        width: 90%;
    }
    /* HEADER */
    header ul {
        display: none;
    }
    .hambuger-menu{
        display: inline;
    }


    /* main */
    /* PRESENTATION */
    .card.big img{
        position: absolute;
        height: 200px;
        left: 20px;
    }
    .card.big .left-content{
        width: 100%;
        padding-bottom: 220px;
    } 
    .card.big{
       min-height: 400px;
       
    }
    /* STRATEGIC PLANNING */
    .strategic-planning{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .strategic-planning .left-content, .strategic-planning .right-content{
        width: 80%;
    }
    .strategic-planning .left-content h2{
        font-size: 340%;
    }
    .strategic-planning .left-content img{
        padding: 60px 0;
    }
    .strategic-planning .left-content{
        padding-bottom: 30px;
        padding-right: 0;
    }
    /* TESTIMONIALS */
    .testimonials-intro .violet-words{
        font-size: 5vw;

    }
    .testimonials-intro.container{
        margin-bottom: 0;
    }
    .testimonials-card.container{
        margin-top: 0;
    }
}



/********************
    SMARTPHONE
********************/
@media all and (max-width:480px) {
    /* MAIN */
    /* PRESENTATION */
    .card, .card.big{
        width: 100%;
    }
    .card.margin-right, .card.big {
        margin-right: 0;
    }

    /* STRATEGIC PLANNING */
    .strategic-planning .left-content h2{
        font-size: 200%;
    }

    /* TESTIMONIALS */
    .testimonials-intro .violet-words{
        font-size: 35px;
    }
    .partners-card{
        flex-direction: column;
        text-align: center;
    }
    .partners-card .citation {
        padding: 0;
      }

}